@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
:root{
    --primary : #34ace0;
    --bg-gray : rgba(163, 162, 162, 0.129);
    --black : #3d3d3d;
    --white : white;
    --gray : rgba(128, 128, 128, 0.697);
    font-family: "Open Sans", sans-serif;
}
#root{
    width : 100%;
    min-height : 100vh;
    /* background-color: var(--bg-gray); */
}
a{
    text-decoration: none;
    outline: none;
    color : var(--black);
}
.white{
    color : var(--white)!important;
}
.sm-text{
    font-size : 15px;
}
.nav-bg{
    background-color: var(--white)!important;
}
.nav-bg ul.navbar-nav{
    display: flex;
    gap : .5rem;
}
span{
    color : var(--primary);
}
.btn-primary{
    /* border: 1px solid var(--primary); */
    /* color : var(--black); */
    background-color: var(--primary)!important;
    border : none;
    outline : none;
    color : var(--white);
}

.header{
    /* border : 2px solid red; */
    height : 80vh;
    overflow: hidden;
    /* z-index : 10; */
}
.desc{
    line-height: 28px;
}
.temp-2{
    /* border : 2px solid green; */
    height : 28rem;
}
.temp-2 img{
    width : 100%;
    height : 100%;
    display: block;
    object-fit: contain;
}

.para h1{
    line-height: 3.8rem;
    margin-top : -3rem;
}
.is-active{
    color : var(--primary)!important;
    /* font-weight : 700; */
}
.special{
    color : var(--black)!important;
}
.not-active{
    color : var(--black)!important;
}
.temp{
    font-size : 3rem!important;
}
.name{
    /* border : 2px solid red; */
}

.my-logo{
    /* border : 2px solid red; */
    border-radius: 2rem;
    padding: .09em .8em;
    background-color: var(--primary);
    color : var(--white);
}
.lg-heading{
    font-size : 2.8rem!important;
}
.my-block{
    /* border : 2px solid red; */
    position: sticky;
    top : 0;
    /* background-color: var(--bg-gray); */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.122);
}

.head-img-box{
    /* border : 2px solid red; */
    z-index : -1;
}

.dropdown{
    z-index : 15!important; 
}
.dropdown .dropdown-menu{
    z-index : 15!important;
    /* background-color: red; */
    padding: 0em 1em;
    width : 15rem;
    border : 1px solid var(--primary);
}

.dropdown-menu li{
    margin: 1rem 0;
    /* border: 2px solid red; */
}
/* ##################### todo page ################# */

.input-box{
    /* border : 2px solid red; */
    position : relative;
    z-index : 1;
    
}

.input-box button{
    position : absolute;
    right : 1rem;
    top : 18%;
    transform: translateY(-50%);
}
.input-btn{
    /* border : 2px solid red; */
    padding : .1em 2em;
}

.todo-card{
    /* border : 2px solid red; */
   
    background-color: var(--primary);
    padding: .8em 1em;
    border-radius: .5em;
    

}
.father{
    background-color: var(--white)!important;
}
.icons i{
    cursor: pointer;
}

.input-check-todo{
    /* border : 2px solid red; */
    /* background-color: var(--white);
    position : sticky;
    top : 4.2rem;
    z-index : 0; */
}
.todo .input-box{
    z-index : -1;
}
/* .todo-father .card{
    z-index : 25;
} */
@media (max-width : 786px){
    .header{
        height : auto;
    }

    .temp-2{
        /* height : 20rem; */
        padding: 1.8rem!important;
    }
    .navbar-brand{
        font-size : 16px!important;
    }
    .navbar-toggler{
        /* border : 2.5px solid var(--primary); */
        width : 2.2rem;
        height : 2.2rem;
        position :relative;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .para h1{
        line-height: 3.8rem;
        margin-top : -1rem;
    }
    .head-img-box{
        height : 25rem;
    }
    .head-box{
        margin-top : -3rem;
    }
}