@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
:root{
    font-size : 62.5%;
    font-family: "Open Sans", sans-serif;
    --primary : #2ecc71;
    --white : white;
}


/* ###################### utility classes are listed here ################ */
a{
    text-decoration: none;
}
p , li{
    font-size : 1.6rem;
    margin-bottom: .3em;
    line-height: 1.5em;
    /* letter-spacing: .015em; */
}
ul li{
    list-style: none;
}
h1 , h2 , h3{
    margin-bottom: .3em;
    letter-spacing: .015em;
}
.container{
    max-width : 1350px;
    width : 90%;
    margin : auto;
}
.fw-300{
    font-weight : 300;
}
.fw-400{
    font-weight : 400;
}
.fw-500{
    font-weight : 500;
}
.fw-600{
    font-weight : 600;
}
.fw-700{
    font-weight : 700;
}
.fw-800{
    font-weight : 800;
}
.text-capitalize{
    text-transform: capitalize;
}
.md-heading{
    font-size : 3rem;
}
.semi-md-heading{
    font-size: 2.4rem;
}
.normal-text{
    font-size: 1.6rem;
}
.lg-heading{
    font-size : 3.8rem;
}
.small-text{
    font-size: 1.4rem;
}
.text-center{
    text-align: center;
}

/* ############ styling starts here ############# */
#root{
    width : 100%;
    min-height : 100vh;
    background-color: rgba(128, 128, 128, 0.091);
}
.header{
    /* border : 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 3em 0;
}

.input-field{
    /* border : 2px solid red; */
    margin : 4rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
input , button{
    border : none;
    outline : none;
    padding : .8em;
    
}
form{
    width : 50%;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border : 2px solid red; */
    
}

button{
    background-color: var(--primary);
    color : var(--white);
    border-top-right-radius : .5rem;
    border-bottom-right-radius : .5rem;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    width : 30%;
    text-transform: capitalize;
}
input{
    display: inline-block;
    width : 70%;
    border-top-left-radius : .5rem;
    border-bottom-left-radius : .5rem;
    font-family: "Open Sans", sans-serif;
}
span{
    color : var(--primary);
}

.bag{
    /* border : 2px solid red; */
    /* width : 45%; */
    /* width : auto; */
    /* width : 70%; */

    height : auto;
}
.li{
    /* border : 2px solid red; */
    margin-bottom: 3rem;
    border-radius: .5rem;
    padding: .8em 1em;
    color : var(--white);
    background-color: var(--primary);
    letter-spacing: .1em;
    width : 100%;
    height : auto;
    text-transform: capitalize;
}
.item{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#trash{
    font-size: 2.5rem;
    cursor: pointer;
}
.message{
    
    
}
@media (max-width : 768px){
    :root{
        font-size : 8px;
    }
    form{
        width : 100%;
    }
    
}